
@{
    ViewBag.Title = "Error500";
}

<h2 style="margin-top:30px">Error500</h2>

<p style="margin-top:30px">Sorry, our server is having problems to fulfill your request. Please try later.</p>

<a href="~/">Return to Home page</a>